.root{
    -fx-background-color: #FFFFFF;
}
.button {
    -fx-pref-width: 100px;
    -fx-pref-height: 40px;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: rgb(1, 136, 251);
}
.text-area{
    -fx-pref-height: 400;
    -fx-pref-width: 520;
}